.screen-container
{
    position: relative;
    padding: 10px;
    width: calc(100vw-20px);
    height: 100vh;
    background-color: rgb(0, 0, 0);
    
}

/*
    Prima parte
*/

#chap-one
{
    background-image: url("./images/portrait.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.center-container
{
    color: white;
    text-align: center;
    z-index: 1;

    position: relative;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-container .special
{
    background: radial-gradient(circle,#ffffff 0%, #FFB200 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
	animation: special-text-anim 5s ease infinite;
}

@keyframes special-text-anim {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*
    Seconda parte
*/

#chap-two
{
    background-color: #FFB200;
    height: fit-content;
    min-height: 100vh;
}


#chap-two .big-title
{
    font-size:calc(15px + 5vw);
}


#chap-two span
{
    color: rgb(26, 26, 26);
}

#chap-two .list
{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 15vw;
    display: flex;
    flex-direction: column;
}

#chap-two .list span
{
    padding-top: 10vh;
    font-family: "Nohemi-Bold";
    position: relative;
    
}

/*
    terza parte
*/

#chap-three
{
    height: fit-content;
    min-height: 100vh;
    z-index: -2;
}

#chap-three .big-title
{
    color: #D3F55B;
    font-size:calc(25px + 5vw);
    position: absolute;
}

#chap-three .row 
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px; 
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 200px;
    margin-bottom: 100px;
}

#chap-three .column
{
    flex: 1 1 calc(50% - 5px); /* togli metà del gap per ogni colonna */
    box-sizing: border-box;
    padding: 0;
    gap: 40px;
}

@media screen and (max-width: 900px)
{
    #chap-three .row
    {
        margin-bottom: 50px;
    }
    #chap-three .column
    {
        flex: 1 calc(100% - 5px); /* togli metà del gap per ogni colonna */
    }
}

#chap-three img
{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

    border: 2px solid black;

}

/*
    quarta parte
*/

#chap-four
{
    background-color: #D3F55B;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: calc(100vw - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    gap: 50px;
}

#chap-four .btn-container
{
    width: 100%;
    text-align: center;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 900px)
{   
    #chap-four .left-container
    {
        width: 100%;
    }
    #chap-four .right-container
    {
        width: 100%;
    }
    #chap-four
    {
        flex-direction: column;
        padding: 30px;
    }
}   

@media screen and (min-width: 900px)
{   
    #chap-four .left-container
    {
        width: 45%;
    }
    #chap-four .right-container
    {
        width: 50%;
    }
}

#chap-four .left-container span
{
    font-size:calc(15px + 3vw);
}

#chap-four .left-container
{
    z-index: 1;
}

#chap-four .right-container video
{
    width: 100%;
    z-index: -1;
    box-shadow: 0px 0px 70px 2px #c300ffa9;
}

/*
    Capitolo cinque
*/

#chap-five
{
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: calc(100vw - 60px);
    display: flex;
    height: fit-content;
    justify-content: flex-start;
    gap: 50px;
}


@media screen and (max-width: 900px)
{   
    #chap-five .left-container
    {
        width: 100%;
    }
    #chap-five .right-container
    {
        width: 100%;
    }
    #chap-five
    {
        padding-top: 50px;
        flex-direction: column;
        gap: 20px;
    }
    #chap-five .left-container video
    {
        margin-bottom: 50px;
    }
}   

@media screen and (min-width: 900px)
{   
    #chap-five .left-container
    {
        width: 50%;
    }
    #chap-five .right-container
    {
        width: 35%;
    }
}

#chap-five .left-container video
{
    width: 100%;
    z-index: -1;
    box-shadow: 0px 0px 20px 2px #d4f55b9a;
}

#chap-five .right-container span
{
    font-size:calc(15px + 3vw);
    color: #C400FF;
}

/* 
    the last chapter
*/

#chap-last
{
    background-color: #C400FF;
    padding: 30px;
    width: calc(100% - 60px);
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#chap-last span
{
    font-size:calc(15px + 7vw);
}


#chap-last img
{
    width: 80%;
    margin-top: 50px;
}

#chap-last .right-container span
{
    font-size:calc(15px + 1.5vw);
    color: #D3F55B;
}

@media screen and (max-width: 900px)
{   
    #chap-last .left-container
    {
        width: 100%;
    }
    #chap-last .right-container
    {
        width: 70%;
    }
    #chap-last a
    {
        font-size: 50px;
    }
    #chap-last
    {
        flex-direction: column;
    }
}   

@media screen and (min-width: 900px)
{   
    #chap-last .left-container
    {
        padding-top: 30px;
        width: 50%;
    }
    #chap-last .right-container
    {
        width: 30%;
    }
}

#chap-last a::before
{
    background-color: #D3F55B;
}
